@import "font";
@import "variables";
@import "template.scss";


.first-screen {
  background-image: url(../img/background.jpg) ;
  background-repeat: no-repeat; 
  background-size: cover;
  height: 663px;
  position: relative;
  padding-top: 185px;   
  
  @media(max-width: 480px){
    padding-top: 85px;}
}
// **********************header************************************* 
header{
  top: 64px;
  left: 50%;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, 0);
  width: 98%;

  @media(max-width: 1100px){
    width: 98%;
    top: 44px;
  }
  @media(max-width: 992px){
    width: 98%;
    top: 44px;
  }
  @media(max-width: 480px){
    width: 98%;
    top: 14px;
  }
}


.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
    .logo {
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;  
      font-family: "SofiaSans", sans-serif;
      font-weight: 400;

      @media(max-width: 480px){
        margin-left: 20px;
      }

      img{
        height: 80px;

        @media(max-width: 1100px){
          height: 70px;
        }
        @media(max-width: 992px){
          height: 60px;
        }
        @media(max-width: 768px){
          height: 45px;
        }
        @media(max-width: 480px){
          height: 34px;
        }
      }
    }


.name{
  display: block;
  font-size: 38px;
  color: $main_color;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
  @media(max-width: 1100px){
    font-size: 32px;
  }
  @media(max-width: 992px){
    font-size: 25px;
  }
  @media(max-width: 768px){
    font-size: 22px;
  }
  @media(max-width: 480px){
    font-size: 16px;
  }
      p{
        font-size: 27px;

        @media(max-width: 992px){
          font-size: 20px;
        }
        @media(max-width: 768px){
          font-size: 15px;
        }
        @media(max-width: 480px){
          font-size: 11px;
        }
      }
}
// ******************burger********** 

.header-menu {
  z-index: 10;
  position: absolute;
  top: -44px;
  display: none;
  // width: 100%;

  @media(max-width: 768px){
    display: block;
  }
  @media(max-width: 480px){
    top: -15px;        
  }

  .header-menu__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.burger__in {
  display: none;
}
.burger {
  display: none;
}
.burger__label:hover {
  cursor: pointer;
}
.burger__label {
  display: block;
  height: 26px;
  width: 33px;
  position: absolute;
  top: 125px;
  right: 30px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-duration: 1s;

      .line--1 {
     transform-origin: 0% 0%;
     transition: transform 0.4s ease-in-out;
    }
    .line--2 {
     transition: transform 0.2s ease-in-out;
    }
    .line--3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    }
}
.burger__in:checked + .burger__label .line--1 {
  transform: rotate(45deg);
}

.burger__in:checked + .burger__label .line--2 {
  transform: scaleY(0);
}

.burger__in:checked + .burger__label .line--3 {
  transform: rotate(-45deg);
}
.burger__in ~ nav {
  background-color: $main_color;
  height: 100vh;
  width: 101vw;
  transform: translate(-250%);
  display: flex;
  flex-direction: column;
  margin-left: -15px;
  transition: transform 0.5s ease-in-out;
  z-index: 3;
}
.burger__in ~ nav a {
  color: #fff;
  display: block;
}
.burger__in:checked ~ nav { 
  transform: translateX(0);
}
@media(max-width: 768px){ 
 .burger__label .line {
     display: block;
     height: 4px;
     width: 100%;
     border-radius: 10px;
     background: #0e2431;
   }
}
.burger__in[type="checkbox"]:checked ~ .burger__label .line--1 {
transform: rotate(45deg);
background-color: #ff0000;
}
.burger__in[type="checkbox"]:checked ~ .burger__label .line--2{
transform: scaleY(0);
}
.burger__in[type="checkbox"]:checked ~ .burger__label .line--3{
transform: rotate(-45deg);
background-color: #ff0000;
}
.burger__in[type="checkbox"]:checked ~ .burger__label {
top: 25px;
}
.header__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  padding-top: 80px;
  list-style: none;
}
.header__link {
  font-weight: 500;
  font-size: 55px;
  line-height: 80px;
  color: #fff;
  position: relative;
  text-decoration: none;
}
.header__link:before {
  content: '';
  height: 0;
  position: absolute;
  width: 0.15em;
  background-color: white;
  left: 1.5em;
  transition: all 0.2s ease-in-out;
}
.header__link:hover:before {
  height: 100%;
}
// *****************
.menu{
  list-style-type: none;
  font-size: 16px; 

    @media(max-width: 768px){
      display: none;
    }

    ul{
      padding-inline-start: 0;
    }
 
    li{
      display: inline-block;
      padding-left: 80px ;  
      
      @media(max-width: 1100px){
        padding-left: 40px ;   
      }
      @media(max-width: 992px){
        padding-left: 20px ;   
      }

      &:hover a{
        color: $main_color;
        cursor: pointer;
       }
    }
}
.phone{
    font-size: 16px;
    position: relative;

    @media(max-width: 480px){
      font-size: 15px;
      margin-right: 20px;   
    }

    a::before{
      content: url('../img/phone.svg') ;
      height: 24px;
      position: absolute;
      top: 2px;
      left: -20px;
    }

    img{
      height: 24px;

      @media(max-width: 992px){
        height: 20px;  
      }
      @media(max-width: 480px){
        height: 15px;
      }
    }
}
 
.languages{
  font-size: 20px;
  display: flex;
  gap: 14px;
  position: relative;
  cursor: pointer;

  @media(max-width: 480px){
    display: none;
  }

  &::before{
    content: ' | ' ;
    font-size: 20px ;
    position: absolute;
    top: -1px;
   left: 30px;
  }
}
// **************************title**********************

.title{
  display: block;
  @media(max-width: 768px){
    z-index: 1;
  }

    h1{
      text-transform: uppercase;
      font-size: 40px;
      width: 530px;
      height: 185px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;

      @media(max-width: 480px){
        font-size: 30px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
      span{
        font-size: 40px;
        width: 530px;
        color: $main_color;

        @media(max-width: 480px){
          font-size: 30px;
        }
      }
    }
    p{
      font-size: 16px;
      width: 464px;
      
        @media(max-width: 480px){      
          font-size: 16px;
          width: 90%;
          text-align: center;
          margin: auto;
        }
    }
  } 
.btn{
    display: flex;
    width: 480px;
    justify-content: space-between;
      @media(max-width: 992px){
        width: 440px;
      }
      @media(max-width: 768px){
        width: 400px;
        z-index: 1;
      }
      @media(max-width: 480px){
        width: 90%;
        margin: auto;
      }
    a{
      box-shadow: 0px 2px 10px #050505;
    }
    
    .call{
      background-color: #46b1de;
      color: white;
    }
  
    .services{
      background-color: white;
      color: #46B1DE;
    }
} 
.button__1{
  text-transform: uppercase;
  font-size: 19px;
  width: 180px;
  height: 60px;
  border-radius: 8px;
  padding: 16px 35px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 30px 
}    
.pictures{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 90px;        
    @media(max-width: 630px){
      align-items: flex-start;
      margin-top: 25px; 
      flex-direction: column;
      margin-left: 50px;
      gap: 10px;
    }
    @media(max-width: 480px){
      margin-top: 310px; 
    }
}
.info-block{
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  font-size: 20px;
  width: 280px;
  height: 120px;
  border-radius: 8px;
  background-color: white;
  padding: 10px;   
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
    @media(max-width: 992px){
      width: 250px;
      font-size: 16px;
      padding: 8px;
      height: auto;
    }
    @media(max-width: 768px){
      width: 200px;
      font-size: 12px;
      padding: 4px;
    }
    @media(max-width: 480px){
      width: 380px;
      border: 1px solid $main_color;
    }
}

.number{
  font-size: 60px;
  width: auto;
  margin: 10px;
  color: #46b1de;
    @media(max-width: 992px){
      font-size: 55px;
    }
    @media(max-width: 768px){
      font-size: 45px;
    }
}
.lady{
  position: absolute;
  bottom: 0;
  right: 0;
    @media(max-width: 480px){
      right: 135px;
    } 
    img{
      @media(max-width: 992px){
        width: 500px;  
        margin-right: -30px;     
      }
      @media(max-width: 768px){
        width: 400px;       
      }
      @media(max-width: 630px){
        margin-bottom: -140px; 
        margin-right: -50;      
      }
      @media(max-width: 480px){
        width: 350px;
        margin-bottom: 0px; 
      }
    }  
}
// *************WHY YOU SHOULD CHOOSE EXACTLY ME?*************************
.tt{
  margin-top: 150px;
    @media(max-width: 480px){
      margin-top: 300px;
    }
}
.title__2{
  text-align: center;  
    
    h2 span{
      display: inline;
      font-size: 34px;
      color: $main_color;
    }

    p{
      width: 650px;
      margin: 10px auto;
      font-size: 16px;
      
      @media(max-width: 768px){
        width: 98%;
      }
    }
  }
  // *******************table******************
.table{
    background: #A1C7D4;
    width: 1020px;
    border-radius: 12px;
    display: flex;
    margin-top: 50px;
    margin-left: -20px;
      @media(max-width: 1100px){
        width: 98%;
        margin: 0 auto;
      }
      @media(max-width: 992px){
        width: 95%;
      }
      @media(max-width: 900px){
        flex-direction: column;
        width: 96%;
        margin: 50px auto;
      }
} 
.cell{
  width: 300px;
  height: 176px;
  padding: 8px;
  border-radius: 10px;
  background: white;
  margin: 20px;
    @media(max-width: 1100px){
      width: 90%;   
    }
    @media(max-width: 992px){
      width: 95%;
      padding: 5px;
      margin: 10px auto;
    } 
    @media(max-width: 900px){
      height: auto;
    }
    @media(max-width: 480px){
      width: 96%;
    }

    p{
      font-size: 16px;
      margin-top: 10px;
    }
} 
.cap{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.number__2{
  font-size: 40px;
  color: $main_color;
}
.description{
  color: $main_color;
  width: 210px;
  font-size: 18px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
// *****WHAT SERVICES DO I PROVIDE?***************************
.servises{
  height: 745px;
  padding-top: 90px;    
}
.tootf_white {
  width: 302px;
  height: 302px;   
  position: absolute;
  margin: 53px auto;
  border-radius: 50%;
  left: 0;
  right: 0;
}
.block_servises{
  display: flex;
}

.servises__left{
  width: 40%;
  margin-top: 53px;
} 
.block__left h3, .block__right h3{
  font-size: 20px;
  color: #46B1DE;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.block__left p, .block__right p{
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}
.block__left{
  text-align: right;
}
.servises_right{
  width: 40%;
  margin-top: 53px;
  margin-left: 22%;
}
.block__left:nth-child(1) h3{
  margin-right: 70px;
}
.block__left:nth-child(1) p{
  width: 320px;
}
.block__left:nth-child(2){
  margin-top: 40px;
  margin-right: 105px;
}
.block__left:nth-child(2) p{
  width: 283px;
}
.block__left:nth-child(3){
  margin-top: 50px;
  margin-right: 20px;
}
.block__left:nth-child(3) p{
  width: 295px;
  margin-left: 75px;
}
.block__right:nth-child(1){
  margin-left: 40px;
}
.block__right:nth-child(2){
  margin-top: 40px;
  margin-left: 85px;
}
.block__right:nth-child(1) p, .block__right:nth-child(2) p{
  width: 290px;
}
.block__right:nth-child(3){
  margin-top: 69px;
 }
.block__right:nth-child(3) p{
  width: 308px;
}
.attention{
  display: flex;
  align-items: center;
  margin-left: 25%;
  margin-top: 5%;
}
.attention p{
  margin-left: 10px;
  text-align: center;
}
@media(max-width: 992px){
  .tootf_white {
     scale: 0.9;
  }
  .servises{
      scale: 0.9;
  }
}
@media(max-width: 910px){
  .tootf_white {
     scale: 0.85;
  }
}
@media(max-width: 900px){
  .tootf_white {
     scale: 1.5;
     opacity: 0.5;
     z-index: -1;
     margin: 80px auto;
  }
  .servises{
      scale: 1;
      padding-top: 0;
  }
  .servises__left, .servises_right{
      width: 50%;
  }
  .servises_right{
      margin-left: 2%;
  }
  .block__left:nth-child(1) h3{
      margin-right: 10px;
  }
  .block__left:nth-child(1) p{
      margin-right: 10px;
      width: 100%;
  }
  .block__left:nth-child(2){
      margin-right: 10px;
  }
  .block__left:nth-child(2) p{
      margin-right: 10px;
      width: 100%;
  }
  .block__left:nth-child(3){
      margin-right: 10px;
  }
  .block__left:nth-child(3) p{
      margin-right: 10px;
      width: 100%;
      margin-left: 0;
  }
  .block__right:nth-child(1){
      margin-left: 10px;
  }
  .block__right:nth-child(2){
      margin-top: 40px;
      margin-left: 10px;
  }
  .block__right:nth-child(1) p, .block__right:nth-child(2) p{
      width: 100%;
  }
  .block__right:nth-child(3){
      margin-top: 69px;
      margin-left: 10px;
  }
  .block__right:nth-child(3) p{
      width: 100%;
  }
  
}
@media(max-width: 768px){
  .block_servises{
      flex-direction: column;
  }
  .servises__left, .servises_right{
      width: 99%;
  }
  .block__left{
      text-align: left;
      margin-left: 20px;
  }
  .tootf_white{
      margin: 220px auto;
  }
  .attention{
      margin-left: 10%;
  }
  .attention img{
      height: 80px;
  }
}
// *************circle**********
.circle{
  width: 302px;
  height: 302px;
  border-radius: 50%;
  position: relative;
  border: 1px solid black;
}
.tooth{
  position: absolute;
  width: 180px;
  height: 162px;
  background-image: url(../img/tooth_small.png);
  margin-top: 70px;
  margin-left: 61px;
}
.plus{
  font-family: 'Sofia Sans', sans-serif ;
  font-weight: 400;
  font-size: 18px;
  width: 24px;
  height: 24px;
  background: #46B1DE;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  position: absolute;
  margin-left: 139px;
  margin-top: -12px;
  transform-origin: 50% 161px;
  transform: rotate(45deg);
}
.plus__2{transform: rotate(90deg);}
.plus__3{transform: rotate(135deg);}
.plus__4{transform: rotate(225deg);}
.plus__5{transform: rotate(270deg);}
.plus__6{transform: rotate(315deg);}
.plus span{
  display: block;
  transform: rotate(45deg);
}

// ******************making an appointment**********************
.external__botder{
  width: 845px;
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  margin: 60px auto;
  padding: 10px;
    @media(max-width: 992px){
      width: 98%; 
      margin: 30px auto;
    } 
    @media(max-width: 768px){
      margin: 25% auto;
    }
    @media(max-width: 570px){
      margin: 50% auto;
    }
}
.making_an_appointment{
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
    
    h3{
      font-family: 'Roboto';
      font-size: 32px;
      text-transform: uppercase;
      font-weight: 500;
    }
    p{
      margin-top: 7px;
      font-size: 16px;
    }
}
.record{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
    @media(max-width: 768px){
      flex-direction: column;
      gap: 10px;
    }
}
.icons__form{
  border-right: 1px solid #000000;
  padding-right: 10px;
  position: absolute;
  width: 34px;
  height: 24px;
  z-index: 1;
  margin-left: 10px;
}
.you_data{
  display: flex;
  align-items: center;
  justify-content: space-between;
    
    input{
      height: 57px;
      background: rgba(217, 217, 217, 0.71);
      border-radius: 8px;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 19px;
      text-align: center;
      color: rgba(27, 29, 31, 0.51);;
      position: relative;
      width: 233px;
        
        &:focus{
          border: 2px solid #46B1DE;
        }
    }    
  }
  .submit{
    width: 180px;
    height: 57px;
    background: #46B1DE;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 19px;
    cursor: pointer;
}
// *******************pictures***************************
.pictures__people{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
    @media(max-width: 900px){
      flex-direction: column;
      transform: scale(1.5);
      margin: 110px;
    }
}
// *********footer********* 
.footer {
  background: linear-gradient(90deg, rgba(161,199,212,1) 0%, rgba(18,129,167,1) 100%);
  margin-top: 91px;
}

.footer__container{
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
    @media(max-width: 660px){
      flex-direction: column;
      align-items: flex-start;
    }
}
.footer__left{
  width: 40%;
  margin-bottom: 40px;
    @media(max-width: 660px){
      width: 260px;
    }
    @media(max-width: 480px){
      height: 60px;
    }
}

.dark{
  color: #0F2C4A;
  font-size: 39px;
  width: 302px;
}
@media(max-width: 992px){
  .dark{
      font-size: 30px;
  }
}
.dark > p{
  font-size: 26px;

}
.block{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 25px;
}
.navigation {
  font-size: 20px;
  line-height: 50px;
  display: block;
    
    a, div{
      color: #0F2d4A;
    }
}
.timetable{
  font-size: 20px; 
  display: block;
    
    ul{
      list-style-type: none;
      color: #0F2D4A;
    
        li:nth-child(1) {
          font-weight: 600;
          font-family: 'Roboto';
        }
    }
  }
.footer__right{
    width: 40%;
    color: white;
    font-size: 20px;
    line-height: 35px;
 
      @media(max-width: 660px){
        width: auto;
      }

      p:nth-child(1){
        font-size: 34px;
      }
} 
.phone__footer, .instagram, .email {
  display: flex;
  align-items: center;
  width: 250px;
}
.phone__footer a, .instagram a, .email a{
  color: white;
  font-size: 20px;
  margin-left: 10px;
  position: relative;
  left: 19px;
}
.phone__footer a::after, .instagram a::after, .email a::after{
  content: '';
  border-bottom: #FFFFFF 1px solid;
}
.phone__footer a:hover::after, .instagram a:hover::after, .email a:hover::after{
  display: block;  
}
.phone__footer a::before{
  content: url('../img/phone.png') ;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -30px;
}
.instagram a::before{
  content: url('../img/instagram.png') ;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -30px;
}
.email a::before{
  content: url('../img/email.png') ;
  height: 20px;
  position: absolute;
  top: 3px;
  left: -30px;
}
.messengers{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 200px;
  margin-top: 8px;
}
.Copyright{
  font-size: 10px;
  display: flex;
  justify-content: center; 
} 
// ****animation*******************************   
.title{
  opacity: 0;
  animation-name: example;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  
}
@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.title h1{
  position: relative;
  bottom: -140px;
  animation-name: animation_h1;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes animation_h1 {
  from {bottom: -140px;}
  to {bottom: 0px;}
}
.title p{
  position: relative;
  bottom: -140px;
  animation-name: animation_p;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes animation_p {
  from {bottom: -140px;}
  to {bottom: 0px;}
}
.btn{
  position: relative;
  bottom: -140px;
  animation-name: animation_btn;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}
@keyframes animation_btn {
  from {bottom: -140px;}
  to {bottom: 0px;}
}




.pictures{
  position: relative;
  z-index: 1;
  left: -425px;
  opacity: 0;
  animation-name: animation__pictures;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
@keyframes animation__pictures {
  from {
      opacity: 0;
      left: -425px;
  }
  to {
      opacity: 1;
      left: 0px;
  }
}
.plus{
  animation-name: animation__plus;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse
}
@keyframes animation__plus {
  from {
      transform-origin: 50% 161px;
      margin-top: -12px;
  }
  to {
      transform-origin: 50% 12px;
      margin-top: 140px;
  }
}

.block__left:nth-child(1) {
  position: relative;
  left: 0px;
  top: 0px;
  animation-name: animation__leftChild1;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__leftChild1 {
  from {
      opacity: 1;
      left: 0px;
      top: 0px;
  }
  to {
      opacity: 0;
      left: -100px;
      top: -30px;
  }
}


.block__left:nth-child(2){
  position: relative;
  left: 0px;
  animation-name: animation__leftChild2;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__leftChild2 {
  from {
      opacity: 1;
      left: 0px;
  }
  to {
      opacity: 0;
      left: -100px;
  }
}

.block__left:nth-child(3){
  position: relative;
  left: 0px;
  bottom: 0px;
  animation-name: animation__leftChild3;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__leftChild3 {
  from {
      opacity: 1;
      left: 0px;
      bottom: 0px;
  }
  to {
      opacity: 0;
      left: -100px;
      bottom: -30px;
  }
}

.block__right:nth-child(1){
  position: relative;
  right: 0px;
  top: 0px;
  animation-name: animation__rightChild1;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__rightChild1{
  from {
      opacity: 1;
      right: 0px;
      top: 0px;
  }
  to {
      opacity: 0;
      right: -100px;
      top: -30px;
  }
}

.block__right:nth-child(2){
  position: relative;
  right: 0px;
  animation-name: animation__rightChild2;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__rightChild2 {
  from {
      opacity: 1;
      right: 0px;
  }
  to {
      opacity: 0;
      right: -100px;
  }
}

.block__right:nth-child(3){
  position: relative;
  right: 0px;
  bottom: 0px;
  animation-name: animation__rightChild3;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction:reverse

}
@keyframes animation__rightChild3 {
  from {
      opacity: 1;
      right: 0px;
      bottom: 0px;
  }
  to {
      opacity: 0;
      right: -100px;
      bottom: -30px;
  }
} 